.vjs-theme-forest .vjs-menu-button-inline.vjs-slider-active,
.vjs-theme-forest .vjs-menu-button-inline:focus,
.vjs-theme-forest .vjs-menu-button-inline:hover,
.vjs-theme-forest.vjs-no-flex .vjs-menu-button-inline {
    width: 10em;
}

.vjs-theme-forest .vjs-controls-disabled .vjs-big-play-button {
    display: none !important;
}

.vjs-theme-forest .vjs-control {
    width: 3em;
}

.vjs-theme-forest .vjs-menu-button-inline:before {
    width: 1.5em;
}

.vjs-menu-button-inline .vjs-menu {
    left: 3em;
}

.vjs-paused.vjs-has-started.vjs-theme-forest .vjs-big-play-button,
.vjs-theme-forest.vjs-ended .vjs-big-play-button,
.vjs-theme-forest.vjs-paused .vjs-big-play-button {
    display: block;
}

.vjs-theme-forest .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
    display: none !important;
}

.vjs-theme-forest .vjs-mouse-display:after,
.vjs-theme-forest .vjs-play-progress:after {
    padding: 0 0.4em 0.3em !important;
}

.vjs-theme-forest.vjs-ended .vjs-loading-spinner {
    display: none;
}

.vjs-theme-forest.vjs-ended .vjs-big-play-button {
    display: block !important;
}

.vjs-theme-forest *,
.vjs-theme-forest:after,
.vjs-theme-forest:before {
    box-sizing: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}

.vjs-theme-forest.vjs-fullscreen,
.vjs-theme-forest.vjs-fullscreen .vjs-tech {
    width: 100% !important;
    height: 100% !important;
}

.vjs-theme-forest {
    font-size: 14px;
    overflow: hidden;
}

.vjs-theme-forest .vjs-control {
    color: inherit;
}

.vjs-theme-forest .vjs-menu-button-inline:hover,
.vjs-theme-forest.vjs-no-flex .vjs-menu-button-inline {
    width: 8.35em;
}

.vjs-theme-forest
    .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover
    .vjs-menu
    .vjs-menu-content {
    height: 3em;
    width: 6.35em;
}

.vjs-theme-forest .vjs-control:focus:before,
.vjs-theme-forest .vjs-control:hover:before {
    text-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 1em #fff;
}

.vjs-theme-forest .vjs-spacer,
.vjs-theme-forest .vjs-time-control {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.vjs-theme-forest .vjs-time-control {
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto;
    padding: 0;
}

.vjs-theme-forest .vjs-time-control.vjs-time-divider {
    width: 14px;
    padding: 0 !important;
}

.vjs-theme-forest .vjs-time-control.vjs-time-divider div {
    width: 100%;
    text-align: center;
}

.vjs-theme-forest .vjs-time-control.vjs-current-time {
    margin-left: 1em;
}

.vjs-theme-forest .vjs-time-control .vjs-current-time-display,
.vjs-theme-forest .vjs-time-control .vjs-duration-display {
    width: 100%;
}

.vjs-theme-forest .vjs-time-control .vjs-current-time-display {
    text-align: right;
}

.vjs-theme-forest .vjs-time-control .vjs-duration-display {
    text-align: left;
}

/* .vjs-theme-forest .vjs-play-progress:before,
.vjs-theme-forest .vjs-progress-control .vjs-play-progress:before, */
.vjs-theme-forest .vjs-remaining-time,
/* .vjs-theme-forest .vjs-volume-level:after,
.vjs-theme-forest .vjs-volume-level:before, */
.vjs-theme-forest.vjs-live .vjs-time-control.vjs-current-time,
.vjs-theme-forest.vjs-live .vjs-time-control.vjs-duration,
.vjs-theme-forest.vjs-live .vjs-time-control.vjs-time-divider,
.vjs-theme-forest.vjs-no-flex .vjs-time-control.vjs-remaining-time {
    display: none;
}

.vjs-theme-forest.vjs-no-flex .vjs-time-control {
    display: table-cell;
    width: 4em;
}

.vjs-theme-forest .vjs-progress-control {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.3em;
    top: -0.5em;
}

.vjs-theme-forest .vjs-progress-control .vjs-load-progress,
.vjs-theme-forest .vjs-progress-control .vjs-play-progress,
.vjs-theme-forest .vjs-progress-control .vjs-progress-holder {
    height: 100%;
}
.vjs-theme-forest .vjs-slider {
    background: hsla(0, 0%, 100%, 0.2);
}
.vjs-theme-forest .vjs-progress-control .vjs-progress-holder {
    margin: 0;
}
.vjs-theme-forest .vjs-load-progress {
    background: rgb(255 255 255 / 50%);
}
.vjs-theme-forest .vjs-progress-control:hover {
    height: 0.3em;
    top: -0.5em;
}

.vjs-theme-forest .vjs-control-bar {
    -webkit-transition: -webkit-transform 0.1s ease 0s;
    -moz-transition: -moz-transform 0.1s ease 0s;
    -ms-transition: -ms-transform 0.1s ease 0s;
    -o-transition: -o-transform 0.1s ease 0s;
    transition: transform 0.1s ease 0s;
}

.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-active
    .vjs-control-bar,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive
    .vjs-control-bar,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-active
    .vjs-control-bar,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive
    .vjs-control-bar,
.vjs-theme-forest.vjs-has-started.vjs-playing.vjs-user-inactive
    .vjs-control-bar {
    visibility: visible;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(3em);
    -moz-transform: translateY(3em);
    -ms-transform: translateY(3em);
    -o-transform: translateY(3em);
    transform: translateY(3em);
    -webkit-transition: -webkit-transform 1s ease 0s;
    -moz-transition: -moz-transform 1s ease 0s;
    -ms-transition: -ms-transform 1s ease 0s;
    -o-transition: -o-transform 1s ease 0s;
    transition: transform 1s ease 0s;
}

.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-active
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-active
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive
    .vjs-progress-control,
.vjs-theme-forest.vjs-has-started.vjs-playing.vjs-user-inactive
    .vjs-progress-control {
    height: 0.25em;
    top: -0.25em;
    pointer-events: none;
    -webkit-transition: height 1s, top 1s;
    -moz-transition: height 1s, top 1s;
    -ms-transition: height 1s, top 1s;
    -o-transition: height 1s, top 1s;
    transition: height 1s, top 1s;
}

.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen
    .vjs-progress-control,
.vjs-theme-forest.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen
    .vjs-progress-control {
    opacity: 0;
    -webkit-transition: opacity 1s ease 1s;
    -moz-transition: opacity 1s ease 1s;
    -ms-transition: opacity 1s ease 1s;
    -o-transition: opacity 1s ease 1s;
    transition: opacity 1s ease 1s;
}

.vjs-theme-forest.vjs-live .vjs-live-control {
    margin-left: 1em;
}

.vjs-theme-forest .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;
    border-radius: 50%;
    font-size: 3.5em;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    -webkit-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
    -moz-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
    -ms-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
    -o-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
    transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
}

.vjs-theme-forest .vjs-menu-button-popup .vjs-menu {
    left: -3em;
}

/*.vjs-theme-forest .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    background-color: transparent;
    width: 12em;
    left: -1.5em;
    padding-bottom: 0.5em;
}

.vjs-theme-forest .vjs-menu-button-popup .vjs-menu .vjs-menu-item,
.vjs-theme-forest .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
    background-color: #151b17;
    margin: 0.3em 0;
    padding: 0.5em;
    border-radius: 0.3em;
} */
.vjs-theme-forest .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    background-color: #2b333f;
    background-color: rgba(43, 51, 63, 0.7);
    position: absolute;
    width: 85%;
    bottom: 1.5em;
    max-height: 15em;
    right: 20%;
}
.vjs-theme-forest .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
    background-color: #151b17;
    margin: 0em 0;
    padding: 0.5em;
}
.vjs-theme-forest .vjs-menu li {
    line-height: 1em !important;
}
.vjs-theme-forest .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
    background-color: #2483d5;
}

.vjs-theme-forest .vjs-big-play-button {
    background-color: rgba(0, 0, 0, 0.45);
    font-size: 3.5em;
    border-radius: 50%;
    height: 2em !important;
    line-height: 2em !important;
    margin-top: -1em !important;
}

.vjs-theme-forest:hover .vjs-big-play-button,
.vjs-theme-forest .vjs-big-play-button:focus,
.vjs-theme-forest .vjs-big-play-button:active {
    background-color: rgba(36, 131, 213, 0.9);
}

.vjs-theme-forest .vjs-loading-spinner {
    border-color: rgba(36, 131, 213, 0.8);
}

.vjs-theme-forest .vjs-control-bar2 {
    background-color: #000000;
}

.vjs-theme-forest .vjs-control-bar {
    background-color: transparent !important;
    /* background-color: rgba(0, 0, 0, 0.3) !important; */
    color: #ffffff;
    font-size: 20px;
}

.vjs-theme-forest .vjs-play-progress,
.vjs-theme-forest .vjs-volume-level {
    background-color: #2483d5;
}

.vjs-theme-forest .vjs-play-progress:before {
    border: 4px solid #2483d5;
    background-color: #2483d5;
    border-radius: 0.8em;
    content: "";
    height: 0.8em;
    top: -0.25em;
    width: 0.8em;
}

.vjs-theme-fantasy .vjs-play-progress:before {
    background-color: #2483d5;
}

.vjs-theme-forest .vjs-slider-horizontal .vjs-volume-level:before {
    top: -0.3em;
    right: -0.5em;
}

.vjs-theme-forest .vjs-slider-horizontal .vjs-volume-level:before {
    border: 4px solid #2483d5;
    background-color: #2483d5;
    border-radius: 0.8em;
    content: "" !important;
    height: 0.8em;
    width: 0.8em;
}

.vjs-theme-forest .vjs-time-control {
    display: none;
}
.vjs-theme-forest .vjs-control-bar {
    display: flex;
}

.vjs-theme-forest .vjs-control-bar .left-half {
    /* background-color: #ff9e2c; */
    background-color: transparent;
}
.vjs-theme-forest .vjs-control-bar .middle-half {
    /* background-color: #b11eb6; */
    background-color: transparent;
    flex-grow: 1;
}
.vjs-theme-forest .vjs-control-bar .right-half {
    /* background-color: #b6701e; */
    background-color: transparent;
}

.vjs-theme-forest .hls-video-dimensions {
    width: 100% !important;
}

.vjs-theme-forest .vjs-quality-selector {
    left: 69% !important;
}
