.vjs-theme-forest .vjs-menu-button-inline.vjs-slider-active,
.vjs-theme-forest .vjs-menu-button-inline:focus,
.vjs-theme-forest .vjs-menu-button-inline:hover,
.vjs-theme-forest.vjs-no-flex .vjs-menu-button-inline {
    width: 10em;
}

.vjs-theme-forest .vjs-controls-disabled .vjs-big-play-button {
    display: none !important;
}

.vjs-theme-forest .vjs-control {
    width: 3em;
}

.vjs-theme-forest .vjs-menu-button-inline:before {
    width: 1.5em;
}

.vjs-menu-button-inline .vjs-menu {
    left: 3em;
}

.vjs-theme-forest .vjs-mouse-display:after,
.vjs-theme-forest .vjs-play-progress:after {
    padding: 0 0.4em 0.3em !important;
}

.vjs-theme-forest.vjs-ended .vjs-loading-spinner {
    display: none;
}

.vjs-theme-forest *,
.vjs-theme-forest:after,
.vjs-theme-forest:before {
    box-sizing: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}

.vjs-theme-forest.vjs-fullscreen,
.vjs-theme-forest.vjs-fullscreen .vjs-tech {
    width: 100% !important;
    height: 100% !important;
}

.vjs-theme-forest {
    font-size: 14px;
    overflow: hidden;
}

.vjs-theme-forest .vjs-control {
    color: inherit;
}

.vjs-theme-forest .vjs-menu-button-inline:hover,
.vjs-theme-forest.vjs-no-flex .vjs-menu-button-inline {
    width: 8.35em;
}

.vjs-theme-forest
    .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover
    .vjs-menu
    .vjs-menu-content {
    height: 3em;
    width: 6.35em;
}

.vjs-theme-forest .vjs-control:focus:before,
.vjs-theme-forest .vjs-control:hover:before {
    text-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 1em #fff;
}

.vjs-theme-forest .vjs-control-bar {
    background-color: transparent !important;
    /* background-color: rgb(0 0 0 / 17%) !important; */
    color: #ffffff;
    font-size: 20px;
}

.vjs-theme-forest .vjs-spacer,
.vjs-theme-forest .vjs-time-control {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.vjs-theme-forest .vjs-time-control {
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto;
    padding: 0;
    min-width: 1em;
    font-weight: 400;
}

.vjs-theme-forest .vjs-time-control.vjs-time-divider div {
    width: 100%;
    text-align: center;
}
.vjs-theme-forest .vjs-duration-display {
    margin-right: 0.8em;
}

.vjs-theme-forest .vjs-progress-control {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.3em;
    top: -0.5em;
    right: 0;
}

.vjs-theme-forest .vjs-progress-control .vjs-load-progress,
.vjs-theme-forest .vjs-progress-control .vjs-play-progress,
.vjs-theme-forest .vjs-progress-control .vjs-progress-holder {
    height: 100%;
}
.vjs-theme-forest .vjs-slider {
    /* background: hsla(0, 0%, 100%, 0.2); */
    background: #534b3d61;
}
.vjs-theme-forest .vjs-progress-control .vjs-progress-holder {
    margin: 0 15px 0 20px;
}
.vjs-theme-forest .vjs-load-progress {
    background: rgb(255 255 255 / 50%);
}
.vjs-theme-forest .vjs-progress-control:hover {
    height: 0.3em;
    top: -0.5em;
}

.vjs-theme-forest .vjs-control-bar {
    -webkit-transition: -webkit-transform 0.1s ease 0s;
    -moz-transition: -moz-transform 0.1s ease 0s;
    -ms-transition: -ms-transform 0.1s ease 0s;
    -o-transition: -o-transform 0.1s ease 0s;
    transition: transform 0.1s ease 0s;
}

.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-active
    .vjs-control-bar,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive
    .vjs-control-bar,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-active
    .vjs-control-bar,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive
    .vjs-control-bar,
.vjs-theme-forest.vjs-has-started.vjs-playing.vjs-user-inactive
    .vjs-control-bar {
    visibility: visible;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(3em);
    -moz-transform: translateY(3em);
    -ms-transform: translateY(3em);
    -o-transform: translateY(3em);
    transform: translateY(3em);
    -webkit-transition: -webkit-transform 1s ease 0s;
    -moz-transition: -moz-transform 1s ease 0s;
    -ms-transition: -ms-transform 1s ease 0s;
    -o-transition: -o-transform 1s ease 0s;
    transition: transform 1s ease 0s;
}

.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-active
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-active
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive
    .vjs-progress-control,
.vjs-theme-forest.vjs-has-started.vjs-playing.vjs-user-inactive
    .vjs-progress-control {
    height: 0.25em;
    top: -0.25em;
    pointer-events: none;
    -webkit-transition: height 1s, top 1s;
    -moz-transition: height 1s, top 1s;
    -ms-transition: height 1s, top 1s;
    -o-transition: height 1s, top 1s;
    transition: height 1s, top 1s;
}

.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen
    .vjs-progress-control,
.vjs-theme-forest.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen
    .vjs-progress-control,
.vjs-theme-forest.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen
    .vjs-progress-control {
    opacity: 0;
    -webkit-transition: opacity 1s ease 1s;
    -moz-transition: opacity 1s ease 1s;
    -ms-transition: opacity 1s ease 1s;
    -o-transition: opacity 1s ease 1s;
    transition: opacity 1s ease 1s;
}

.vjs-theme-forest.vjs-live .vjs-live-control {
    margin-left: 1em;
}

.vjs-theme-forest .vjs-menu-button-popup .vjs-menu {
    left: -3em;
}

/*.vjs-theme-forest .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    background-color: transparent;
    width: 12em;
    left: -1.5em;
    padding-bottom: 0.5em;
}

.vjs-theme-forest .vjs-menu-button-popup .vjs-menu .vjs-menu-item,
.vjs-theme-forest .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
    background-color: #151b17;
    margin: 0.3em 0;
    padding: 0.5em;
    border-radius: 0.3em;
} */
.vjs-theme-forest .vjs-quality-selector .vjs-menu .vjs-menu-content {
    background-color: rgba(24, 29, 37, 0.9);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 135%;
    bottom: 1.5em;
    max-height: 17em;
    right: 20%;
}
.vjs-theme-forest .vjs-quality-selector .vjs-menu .vjs-menu-title {
    margin: 0em 0;
    padding: 1.5em;
    padding-bottom: 1em;
}
.vjs-theme-forest .vjs-menu li {
    line-height: 1.5em !important;
    margin-left: 10px;
    margin-right: 10px;
}
.vjs-theme-forest .vjs-quality-selector .vjs-menu .vjs-menu-item.vjs-selected {
    background-color: transparent;
    color: #fff;
}
.vjs-theme-forest .vjs-quality-selector .vjs-menu .vjs-menu-item {
    font-weight: bold;
    border-bottom: 1px solid rgba(62, 73, 91, 0.64);
    color: #a3afc2;
}
.vjs-theme-forest .vjs-quality-selector .vjs-menu .vjs-menu-item:last-child {
    margin-bottom: 20px;
}

.vjs-theme-forest
    .vjs-quality-selector
    .vjs-menu
    .vjs-menu-item.vjs-selected
    .vjs-menu-item-text:before {
    content: "\2713";
    display: inline-block;
    margin-right: 10px;
}
.vjs-theme-forest .vjs-quality-selector .vjs-menu .vjs-menu-item:before {
    margin-right: 30px;
    content: "";
    display: block;
}

.vjs-theme-forest .vjs-control-bar2 {
    background-color: #000000;
}

.vjs-theme-forest .vjs-play-progress,
.vjs-theme-forest .vjs-volume-level {
    background-color: #0c9;
}

.vjs-theme-forest .vjs-play-progress:before {
    border: 4px solid #0c9;
    background-color: #0c9;
    border-radius: 0.8em;
    content: "";
    height: 0.8em;
    top: -0.25em;
    width: 0.8em;
}

/* .vjs-theme-forest .vjs-progress-holder:hover .vjs-play-progress:before {
    border: 4px solid #0c9;
    background-color: #0c9;
    border-radius: 0.5em;
    content: "";
    height: 0.5em;
    top: -0.18em;
    width: 0.5em;
    position: absolute;
} */

.vjs-theme-forest .vjs-slider-horizontal .vjs-volume-level:before {
    top: -0.3em;
    right: -0.5em;
}

.vjs-theme-forest .vjs-slider-horizontal .vjs-volume-level:before {
    border: 4px solid #0c9;
    background-color: #0c9;
    border-radius: 0.8em;
    content: "" !important;
    height: 0.8em;
    width: 0.8em;
}

.vjs-theme-forest .vjs-volume-bar {
    background: hsl(0deg 0% 100% / 45%) !important;
}

.vjs-theme-forest .vjs-control-bar {
    display: flex;
}

.vjs-theme-forest .vjs-control-bar .left-half {
    /* background-color: #ff9e2c; */
    background-color: transparent;
}
.vjs-theme-forest .vjs-control-bar .middle-half {
    /* background-color: #b11eb6; */
    background-color: transparent;
    flex-grow: 1;
}
.vjs-theme-forest .vjs-control-bar .right-half {
    /* background-color: #b6701e; */
    background-color: transparent;
}

.vjs-theme-forest .hls-video-dimensions {
    width: 100% !important;
}

.vjs-theme-forest
    .vjs-quality-selector
    .vjs-menu
    .vjs-menu-content
    .vjs-menu-item {
    text-transform: none !important;
}

.vjs-theme-forest .vjs-icon-placeholder:hover {
    color: #0c9;
}

.vjs-theme-forest .quality-label-hd {
    position: relative;
    width: 2em;
    color: #fff !important;
    display: block !important;
    background: #0c9;
    font-size: 0.6em;
    font-weight: 700;
    opacity: 1 !important;
    top: -15px;
    left: 22px;
    position: relative;
    width: 2em;
    border-radius: 5px;
    padding: 2px;
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-enter:before {
    background: url("/img/fullscreen-expand.svg") no-repeat 50%;
    background-size: auto;
    background-size: 100%;
    content: "";
    display: block;
    height: 100%;
    left: 0.35em;
    width: 50%;
}
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:hover:before,
.vjs-icon-fullscreen-enter:hover:before {
    background: url("/img/fullscreen-expand-hover.svg") no-repeat 50%;
    background-size: auto;
    background-size: 100%;
    content: "";
    display: block;
    height: 100%;
    left: 0.35em;
    width: 50%;
}

.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-exit:before {
    background: unset !important;
    content: "\f109";
}

.vjs-theme-forest button[tooltip]:hover::after {
    content: attr(tooltip);
    position: absolute;
    top: -100%;
    left: 20%;
    background-color: #161719;
    border-radius: 2px;
    display: block;
    padding: 0.5em 0.5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    transition: opacity 0.2s;
    white-space: nowrap;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

[tooltip] {
    position: relative;
}

.vjs-theme-forest .vjs-fullscreen-control[tooltip]:hover:after {
    content: attr(tooltip);
    position: absolute;
    top: -100%;
    left: -80% !important;
    background-color: #161719;
    border-radius: 2px;
    display: block;
    padding: 0.5em 0.5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    transition: opacity 0.2s;
    white-space: nowrap;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.vjs-theme-forest .vjs-big-play-button[tooltip]:hover:after {
    content: attr(tooltip);
    position: absolute;
    top: -100%;
    left: -80% !important;
    background-color: #161719;
    border-radius: 2px;
    display: block;
    padding: 0.5em 0.5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    transition: opacity 0.2s;
    white-space: nowrap;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.vjs-theme-forest
    .vjs-progress-control:hover
    .vjs-slider-bar
    .vjs-time-tooltip {
    visibility: hidden !important;
}

/* player big play button styles */

.vjs-theme-forest .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-left: -1em;
    width: 2em;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    font-size: 3.5em;
    border-radius: 50%;
    height: 2em !important;
    line-height: 2em !important;
    margin-top: -1em !important;
    -webkit-animation: middlePlayerIcon 0.5s linear 1 normal forwards;
    animation: middlePlayerIcon 0.5s linear 1 normal forwards;
}

/* .vjs-theme-forest:hover .vjs-big-play-button,
.vjs-theme-forest .vjs-big-play-button:focus,
.vjs-theme-forest .vjs-big-play-button:active {
    background-color: rgba(0, 0, 0, 0.45);
} */

.vjs-paused.vjs-has-started.vjs-theme-forest .vjs-big-play-button,
.vjs-theme-forest.vjs-ended .vjs-big-play-button,
.vjs-theme-forest.vjs-paused .vjs-big-play-button {
    display: block;
    background-color: rgba(0, 0, 0, 0.45);
    -webkit-animation: middlePlayerIcon 0.5s linear 1 normal forwards;
    animation: middlePlayerIcon 0.5s linear 1 normal forwards;
}

.vjs-theme-forest .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
    display: none !important;
    -webkit-animation: middlePlayerIcon 0.5s linear 1 normal forwards;
    animation: middlePlayerIcon 0.5s linear 1 normal forwards;
}
.vjs-theme-forest.vjs-ended .vjs-big-play-button {
    display: block !important;
    -webkit-animation: middlePlayerIcon 0.5s linear 1 normal forwards;
    animation: middlePlayerIcon 0.5s linear 1 normal forwards;
}
.vjs-theme-forest .vjs-big-play-button .vjs-icon-placeholder:hover {
    color: #fff;
}

@-webkit-keyframes middlePlayerIcon {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(2);
    }
}
@keyframes middlePlayerIcon {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes waves {
    0% {
        transform: scale(0);
        opacity: 0.3;
    }
    40% {
        transform: scale(0.2);
        opacity: 0.5;
    }
    70% {
        transform: scale(0.5);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* player loader spinner */
.vjs-theme-forest .vjs-loading-spinner {
    border-color: #a9aead;
    border: 6px solid #a9aead;
}

.vjs-theme-forest.vjs-waiting .vjs-loading-spinner:before {
    border-top-color: #a9aead;
}
.vjs-theme-forest .vjs-loading-spinner {
    background-clip: padding-box;
    border: 6px solid rgba(43, 51, 63, 0.7);
    border-radius: 25px;
    box-sizing: border-box;
    display: none;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    opacity: 0.85;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 50px;
}
.vjs-seeking .vjs-loading-spinner,
.vjs-waiting .vjs-loading-spinner {
    display: block;
}
.vjs-theme-forest .vjs-loading-spinner:after,
.vjs-theme-forest .vjs-loading-spinner:before {
    border: inherit;
    border-color: #fff transparent transparent;
    border-radius: inherit;
    box-sizing: inherit;
    content: "";
    height: inherit;
    margin: -6px;
    opacity: 1;
    position: absolute;
    width: inherit;
}
.vjs-seeking .vjs-loading-spinner:after,
.vjs-seeking .vjs-loading-spinner:before,
.vjs-waiting .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:before {
    -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8)
            infinite,
        vjs-spinner-fade 1.1s linear infinite;
    animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
        vjs-spinner-fade 1.1s linear infinite;
}
.vjs-seeking .vjs-loading-spinner:before,
.vjs-waiting .vjs-loading-spinner:before {
    border-top-color: #fff;
}
.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:after {
    -webkit-animation-delay: 0.44s;
    animation-delay: 0.44s;
    border-top-color: #fff;
}
@keyframes vjs-spinner-spin {
    to {
        transform: rotate(1turn);
    }
}
@-webkit-keyframes vjs-spinner-spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}
@keyframes vjs-spinner-fade {
    0% {
        border-top-color: #73859f;
    }
    20% {
        border-top-color: #73859f;
    }
    35% {
        border-top-color: #fff;
    }
    60% {
        border-top-color: #73859f;
    }
    to {
        border-top-color: #73859f;
    }
}
@-webkit-keyframes vjs-spinner-fade {
    0% {
        border-top-color: #73859f;
    }
    20% {
        border-top-color: #73859f;
    }
    35% {
        border-top-color: #fff;
    }
    60% {
        border-top-color: #73859f;
    }
    to {
        border-top-color: #73859f;
    }
}
