
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
background-color: #F5F5F5;
font-family: 'Poppins', sans-serif;}
.container {
max-width: 1011px;}
.arrow-btn {
border: 2px solid #2081E2;
width: 45px;
height: 45px;
border-radius: 5px;
background: #FFFFFF;
color: #2081E2;
display: flex;
align-items: center;
justify-content: center;}
.button-primery {
background: #2081E2;
border-radius: 5px;
font-size: 14px;
font-family: 'Poppins', sans-serif;
color: #fff;
min-width: 161px;
height: 45px;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0 16px;
font-weight: 700;
border: none;
}
.w-40{
    width: 40% !important;
}
.h-34{
    height: 34px !important;
}
.mt-3px{
    margin-top: 3px !important;
}
.btn {
  min-height: 45px;
  font-size: 16px;
}
.btn-white {
background-color: #fff;
color: #2081E2;
font-size: 16px;
}
.btn-white:hover {
color: #2081E2;
}
.btn-border {
border: solid 2px #fff;
border-radius: 5px;
color: #fff;
}
.btn-border:hover {
  color: #fff;
}
.button.btn-outline-danger {
color: #EB617B;
border: 2px solid #F5D1D8;
background-color: #fff;
}
.button.btn-outline-danger:hover {
  color: #EB617B;
}
.button.btn-outline-primary {
color: #2081E2;
border: 2px solid #BBC8E2;
background-color: #fff;
 }
.button.btn-outline-primary:hover {
color: #2081E2;
}
.btn-check:focus+.btn-outline-danger, .btn-outline-danger:focus {
box-shadow: none;
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
box-shadow: none;
}
.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
  box-shadow: none;
}
.button-primery:hover {
color: #fff;
}
.card-light-grey {
background: #FAFAFA ;
box-shadow: 0px 3px 30px #00000008;
border-radius: 20px;
}
.card {
background: #FAFAFA;
box-shadow: 0px 3px 30px #00000008;
border-radius: 15px;
border: none;
}
input {
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 5px;
min-height: 38px;
color: #1F1F1F;
font-size: 16px;
font-family: 'Inter', sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
outline: none;
}
.form-control:focus {
box-shadow:none;
border-color: #E0E0E0;
}
form label {
color: #212529;
font-size: 16px;
font-family: 'Inter', sans-serif;
letter-spacing: 0px;
}

input::-webkit-input-placeholder { /* Edge */
color: #868D96!important;
font-size: 16px;
font-family: 'Inter', sans-serif;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #868D96 !important;
font-size: 16px;
font-family: 'Inter', sans-serif;
}

input::placeholder {
color: #868D96 !important;
font-size: 16px;
font-family: 'Inter', sans-serif;
}

hr {
background: #E0E0E0;
height: 1px;
width: 100%;
}

.mt70{
  margin-top: 70px;
}

/*============================== 
header
================================= */

header {
background-color: #fff;
box-shadow: 0px 3px 10px #0000000A;
min-height: 77px;
}

header .logo {
min-height: 77px;
display: flex;
align-items: center;
justify-content: flex-start;
color: #1F1F1F;
font-family: 'Inter', sans-serif;
font-size: 22px;
font-weight: 700;
padding-left: 24px;
}

header .code {
min-height: 77px;
display: flex;
align-items: center;
justify-content: flex-end;
font-family: 'Inter', sans-serif;
color: #2081E2;
font-size: 22px;
font-weight: 600;
padding-right: 31px;
}

/* ==============================
Page header
================================= */
.page-header {
margin-top: 50px;
}
.right-nav {
display: flex;
align-items: center;
justify-content: flex-end;
column-gap: 20px;
}
.left-arrow {
font-size: 20px;
}
.setting-icon {
font-size: 23px;
}
.delete-icon {
background: #EBEBEB;
border-radius: 5px;
opacity: 1;
display: flex;
align-items: center;
justify-content: center;
font-size: 23px;
color: #EB617B;
width: 45px;
height: 45px;
}
.delete-icon:hover {
color: #EB617B;
}
.detail-card {
display: flex;
column-gap: 44px;
}
.card-logo {
width: 138px;
height: 138px;
}
.card-logo img {
max-width: 100%;
border-radius: 50px;
}
.card-info h1 {
font-family: 'Poppins', sans-serif;
font-size: 26px;
letter-spacing: 0px;
font-weight: 700;
margin-bottom: 21px;
}
.status-list {
margin-bottom: 33px;
}
.status-list ul {
display: flex;
column-gap: 44px;
align-items: center;
}
.status-list .raffle {
background: #EDF0F5;
width: 92px;
height: 30px;
color: #212529;
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
font-size: 14px;
font-family: 'Inter', sans-serif;
}
.status-list .raffle  i { 
color: #BBC8E2;
font-size: 17px;
margin-right: 12px;
}
.status-list .open {
color: #212529;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
font-family: 'Inter', sans-serif;
}
.status-list .open  i { 
color: #45D386;
font-size: 20px;
margin-right: 17px;
}
.status-list .user-group {
color: #212529;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Inter', sans-serif;
font-size: 16px;
}
.status-list .user-group  i { 
font-size: 20px;
color: #BBC8E2;
margin-right: 17px;
}
.status-list .ticket {
color: #212529;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Inter', sans-serif;
font-size: 16px;
}
.status-list .ticket  i { 
font-size: 20px;
color: #BBC8E2;
margin-right: 17px;
}
.time-and-date-block {
display: flex;
align-items: center;
}
.time-and-date {
font-size: 14px;
font-family: 'Inter', sans-serif;
letter-spacing: 0px;
display: flex;
align-items: center;
color: #212529;
}
.time-and-date i {
color: #BBC8E2;
font-size:20px;
margin-right: 20px;
}
.time-and-date .starts {
margin-right: 13px;
}
.time-and-date .ends {
margin-right: 13px;
}
.time-and-date .ends-time {
margin-left: 42px;
}
.mint-detail-block {
display: flex;
column-gap: 54px;
}
.page-header-second {
margin-top: 70px;
}
.mint-detail h1 {
color: #1F1F1F;
font-size: 40px;
font-weight: 700;
margin-bottom: 17px;
}
.mint-logo {
width: 138px;
height: 138px;
overflow: hidden;
border-radius: 100px;
}
.mint-status {
display: flex;
align-items: center;
}
.mint-status:first-of-type {
margin-bottom: 23px;
}
.mint-status i {
color: #BBC8E2;
font-size: 20px;
margin-right: 14px;
}
.mint-status span {
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
}
.mint-status span.label {
margin-right: 15px;
}
.mint-status span.value {
font-weight: 700;
}
.mint-status span.subValue {
font-weight: 700;
margin-left: 14px;
}
.eidt-project-btn {
display: flex;
align-items: center;
justify-content: flex-end;
}
.eidt-project-btn .button-primery {
min-width: 155px;
}
.eidt-project-btn .button-primery i {
color: #BBC8E2;
font-size: 19px;
margin-right: 8px;
}
.page-header-third {
margin: 35px auto;
max-width: 802px;
}
.page-header-inner-third {
display: flex;
align-items: center;
column-gap: 28px;
}
.mint-details {
display: flex;
align-items: center;
column-gap: 25px;
}
.mint-details .mint-logo {
width: 74px;
height: 74px
}
.mint-name h1 {
color: #1F1F1F;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
}

/* ==============================
  Add-campaign 
================================= */
.add-campaign {
margin-top: 37px;
margin-bottom: 100px;
}
.add-campaign p {
color: #1F1F1F;
font-size: 22px;
font-family: 'Poppins', sans-serif;
margin-bottom: 37px;
margin-top: 60px;
text-align: center;
 }
.add-campaign .card {
width: 300px;
min-height: 421px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.add-campaign-inner-block i {
color: #2081E2;
font-size: 70px;
}
.add-campaign-inner-block h2 {
color: #1F1F1F;
font-family: 'Poppins', sans-serif;
font-size: 25px;
font-weight: 600;
margin-top: 42px;
}
.add-and-created-campaign {
display: flex;
column-gap: 42px;
flex-wrap: wrap;
row-gap: 42px;
justify-content: center;
}
.campaign-block .card {
position: relative;
overflow: hidden;
}
.campaign-block .setting-icon {
position: absolute;
top: 15px;
right: 16px;
}
.campaign-block .mint-logo {
width: 110px;
height: 110px;
margin-bottom: 24px;
}
.campaign-block .card h2 {
 font-size: 17px;
 line-height: normal;
 max-width: 180px;
 font-weight: 600;
 font-family: 'Poppins', sans-serif;
 margin-bottom: 9px;
}
.campaign-block .status-list .open {
flex-direction: column;
align-items: center;
justify-content: center;
}
.campaign-block .status-list .open i {
margin-right: 0px;
margin-bottom: 12px;
}
.campaign-block .status-list .user-group {
flex-direction: column;
align-items: center;
justify-content: center;
}
.campaign-block .status-list .user-group i {
margin-right: 0px;
margin-bottom: 12px;
}
.campaign-block .status-list .ticket {
flex-direction: column;
align-items: center;
justify-content: center;
}
.campaign-block .status-list .ticket i {
margin-right: 0px;
margin-bottom: 12px;
}
.campaign-block .status-list {
display: flex;
flex-direction: column;
align-items: center;
max-width: 290px;
width: 100%;
margin-bottom: 2px;
}
.campaign-block .status-group {
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
margin-top: 18px;
}
.campaign-block .time-and-date-block {
flex-direction: column;
align-items: flex-start;
}
.campaign-block .time-and-date .ends-time {
margin-left: 0px;
}
.campaign-block .time-and-date .starts-time {
margin-bottom: 11px;
}
.campaign-block .time-and-date {
align-items: baseline;
}
.campaign-block .time-and-date i {
top: 5px;
position: relative;
}

/* ==============================
setting-dropdown 
================================= */
.setting-dropdown li:first-child {
border-radius: 5px 5px 0px 0px;
}
.setting-dropdown li:last-child {
border-radius: 0px 0px 5px 5px;
border-bottom:none ;
}
.setting-dropdown li {
text-align: left;
display: flex;
align-items: center;
border-bottom: solid 1px #E0E0E0 ;
background-color: #fff;
padding-left: 16px;
padding-right: 16px;
width: 100%;
}
.setting-dropdown a i {
color: #2081E2;
font-size: 18px;
width: 25px;
margin-right: 8px;
}
.setting-dropdown a {
color: #1F1F1F;
font-size: 15px;
font-weight: 600;
text-align: left;
width: 100%;
min-height: 45px;
min-width: 192px;
display: flex;
align-items: center;
text-transform: capitalize;
}
.campaign-block {
position: relative;
}
.campaign-block .setting-dropdown{
position: absolute;
right: 16px;
top: 80px;
}
.setting-dropdown .delete i {
color: #EB617B;
}
.setting-dropdown-block.active::before {
background-color: rgb(0 0 0 / 10%);
position: absolute;
top: 0px;
bottom: 0px;
content: '';
height: 100%;
width: 100%;
left: 0;
}

/* ==============================
list and winner  
================================= */

.entry-and-winner {
margin-top: 63px;
margin-bottom: 180px;
}
.table-card {
background: #FAFAFA;
box-shadow: 0px 3px 30px #00000008;
border-radius: 20px;
padding: 50px 90px 93px;
}
.table-tabs button {
background-color: transparent;
border: none;
font-size: 20px;
border: none;
color: #1F1F1F;
font-family: 'Poppins', sans-serif;
padding: 0px;
min-width: max-content;
margin-right: 48px;
}
.table-tabs {
border-bottom: 1px solid #E0E0E0;
margin-bottom: 30px;
display: flex;
justify-content: space-between;
}
.table-tabs button {
position: relative;
}
.table-tabs button.active {
color: #2081E2;
font-weight: 700;
}
.table-tabs button.active::after {
color: #2081E2;
content: '';
font-weight: 700;
border-bottom: 5px solid #2081E2;
width: 100%;
height: 2px;
position: absolute;
left: 0;
bottom: -19px;
}
.table-tabs .nav{
margin-bottom: 18px;
}
.export-btn {
margin-bottom: 18px;
}
.export-btn button {
background: #2081E2;
border-radius: 5px;
font-size: 16px;
font-family: 'Poppins', sans-serif;
color: #fff;
width: 161px;
height: 45px;
display: flex;
align-items: center;
margin: 0;
margin-bottom: 0px;
position: relative;
justify-content: center;
padding: 0;
font-weight: 700;
}
.export-btn button i{
color: #BBC8E2;
font-size: 20px;
margin-right: 16px;
}
.wallet-manually a i {
margin-right: 12px;
color: #BBC8E2;
font-size: 16px;
}
.entry-and-winner-serach {
display: flex;
background: rgb(187 200 226 / 20%);
border-radius: 15px;
padding: 18px 22px;
justify-content: space-between;
margin-bottom: 30px;
}
.serach-block {
display: flex;
align-items: center;
}
.serach-icon i {
color: #2081E2;
font-size:16px;
margin-right: 17px;
}
.serach-field {
position: relative;
display: flex;
}
.serach-field input {
background: #FFFFFF;
border: 1px solid #CED4DA;
border-radius: 4px 0px 0px 4px;
min-width: 395px;
height: 38px;
padding: 0px 13px;
}
.serach-field input::-webkit-input-placeholder { /* Edge */
color: #868D96;
font-size: 16px;
font-family: 'Inter', sans-serif;
}
.serach-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #868D96;
font-size: 16px;
font-family: 'Inter', sans-serif;
}
.serach-field input::placeholder {
color: #868D96;
font-size: 16px;
font-family: 'Inter', sans-serif;
}
.serach-field button {
border: 1px solid #2081e2;
background: #FFFFFF;
border: 1px solid #2081E2;
border-radius: 0px 4px 4px 0px;
letter-spacing: 0px;
color: #2081E2;
font-family: 'Poppins', sans-serif;
font-size: 15px;
font-weight: 600;
width: 89px;
height: 38px;
}
.entry-and-winner table tr {
border-bottom: none;
}
.entry-and-winner .table>:not(:first-child) {
border: none;
}
.entry-and-winner tbody {
border-radius: 15px 15px;
background: #FFFFFF;
margin-top: 28px;
}
.entry-and-winner tbody td:nth-child(3) {
vertical-align: top;
}
.entry-and-winner tbody td {
border-bottom: solid 1px #0000001F;
vertical-align: middle;
padding: 18px;
}
.entry-and-winner tbody tr:first-child {
border-radius: 15px 15px 0 0 ;
}
.entry-and-winner tbody tr:last-child td {
border: none;
}
.entry-and-winner tr:first-child td:first-child { border-top-left-radius: 15px; }
.entry-and-winner tr:first-child td:last-child { border-top-right-radius: 15px; }
.entry-and-winner tr:last-child td:first-child { border-bottom-left-radius: 15px; }
.entry-and-winner tr:last-child td:last-child { border-bottom-right-radius: 15px; }
.wallet {
display: flex;
column-gap: 17px;
margin-bottom: 28px;
padding-left: 10px;
}
.wallet-icon i {
color: #BBC8E2;
font-size: 18px;
}
.wallet-info h2 {
color: #1F1F1F;
font-size: 16px;
font-family: 'Inter', sans-serif;
font-weight: 600;
margin-bottom: 7px;
}
.wallet-info p {
color: #7E8891;
font-family: 'Inter', sans-serif;
font-size: 13px;
font-weight: normal;
}
.twitter {
display: flex;
column-gap: 17px;
margin-bottom: 28px;
padding-left: 10px;
}
.twitter-icon i {
color: #00ACEE;
font-size: 18px;
}
.twitter-info h2 {
color: #1F1F1F;
font-size: 16px;
font-family: 'Inter', sans-serif;
font-weight: 600;
margin-bottom: 7px;
}
.twitter-info p {
color: #7E8891;
font-family: 'Inter', sans-serif;
font-size: 13px;
font-weight: normal;
}
.discord {
display: flex;
column-gap: 17px;
margin-bottom: 28px;
padding-left: 10px;
}
.discord-icon i {
color: #4F5ECB;
font-size: 18px;
}
.discord-info h2 {
color: #1F1F1F;
font-size: 16px;
font-family: 'Inter', sans-serif;
font-weight: 600;
margin-bottom: 7px;
}

.Wallet-block h3 {
color: #2081E2;
font-size: 15px;
font-family: 'Inter', sans-serif;
margin-bottom: 8px;
font-weight: 600;
}

.Wallet-block .Wallet-details  {
color: #7E8891;
font-size: 13px;
font-family: 'Inter', sans-serif;
font-weight: normal;
}
.Wallet-block .Wallet-details .date {
margin-right: 14px;
}

.discord-block h3 {
color: #212529;
font-size: 15px;
font-family: 'Inter', sans-serif;
font-weight: 500;
}

.twitter-block h3 {
color: #212529;
font-size: 15px;
font-family: 'Inter', sans-serif;
margin-bottom: 8px;
font-weight: 500;
}

.twitter-block .twitter-details  {
color: #7E8891;
font-size: 13px;
font-family: 'Inter', sans-serif;
font-weight: normal;
}
.twitter-block .twitter-details .followers {
margin-right: 14px;
}


/* modal-content */

.add-wallet-manually .modal-content {
border-radius: 20px;
max-width: 518px;
min-height: 496px;
padding: 40px;
}
.add-wallet-manually .modal-header {
padding: 0px;
border: none;
margin-bottom: 30px;
}
.add-wallet-manually .modal-title {
color: #1F1F1F;
font-weight: 700;
font-family: 'Poppins', sans-serif;
font-size: 26px;
}
.add-wallet-manually .modal-header .btn-close {
color: #2081E2;
background: none;
background: #FFFFFF ;
border: 2px solid #BBC8E2;
width: 45px;
height: 45px;
opacity: 1;
padding: 0px;
display: flex;
align-items: center;
justify-content: center;
}
.add-wallet-manually .modal-header .btn-close i {
color: #2081E2;
font-size: 24px;
opacity: 1;
}
.add-wallet-manually .modal-footer {
border: none;
}
.add-wallet-manually .modal-footer button {
max-width: 440px;
height: 45px;
border: none;
width: 100%;
}
.add-wallet-manually .modal-footer button i {
margin-right: 12px;
color: rgb(187, 200, 226);
font-size: 16px;
}
.add-wallet-manually .modal-body {
display: flex;
align-items: center;
flex: none;
}
.walletAddress {
margin-bottom: 30px;
margin-top: 0;
}
.walletAddress i {
color: #BBC8E2;
font-size: 17px;
margin-right: 8px;
}
.twitterAddress {
margin-bottom: 30px;
margin-top: 0;
}
.twitterAddress i {
font-size: 17px;
margin-right: 8px;
color: #00ACEE;
}

.discordAddress i {
font-size: 17px;
margin-right: 8px;
color: #4F5ECB;
}

.add-wallet-manually form label {
color: #212529;
font-size: 14px;
font-family: 'Inter', sans-serif;
margin-bottom: 11px;
}

.add-wallet-manually input::-webkit-input-placeholder { /* Edge */
color: #868D96;
font-size: 16px;
font-family: 'Inter', sans-serif;
}
.add-wallet-manually input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #868D96;
font-size: 16px;
font-family: 'Inter', sans-serif;
}
.add-wallet-manually input::placeholder {
color: #868D96;
font-size: 16px;
font-family: 'Inter', sans-serif;
}


/* Add Projects */
.addProject {
display: flex;
justify-content: center;
}
.addProject .card {
width: 300px;
height: 293px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
cursor: pointer;
}
.add-project-block {
display: flex;
align-items: center;
height: calc(100vh - 97px);
justify-content: center;
}

.add-project-block h1 {
font-family: 'Poppins', sans-serif;
font-weight: 600;
text-align: center;
margin-bottom: 37px;
}
.add-project-block p {
font-size: 22px;
font-family: 'Poppins', sans-serif;
text-align: center;
margin-bottom: 50px;
}
.add-project-inner-block i {
color: #2081E2;
font-size: 70px;
margin-bottom: 56px;
}
.add-project-inner-block h2 {
color: #1F1F1F;
font-size: 25px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
}

/* Set up your Project */
.setup-project-inner-block {
  margin-bottom: 140px;
}
.setup-project-inner-block .card-light-grey {
max-width: 802px;
margin: 0 auto;
padding: 65px 60px 60px;
}
.setup-project-inner-block h1 {
font-weight: 700;
font-family: 'Poppins', sans-serif;
text-align: center;
margin-bottom: 20px;
}
.setup-project-inner-block p {
color: #888888;
font-family: 'Inter', sans-serif;
font-size: 20px;
max-width: 422px;
margin: 0 auto;
letter-spacing: 0px;
line-height: normal;
text-align: center;
margin-bottom: 48px;
}
.setup-project-from {
max-width: 600px;
margin: 0 auto;
}
.setup-project-from .form-label {
margin-bottom: 10px;
font-weight: 400;
}
.setup-project-from .form-label i {
font-size: 20px;
color: #BBC8E2;
min-width: 22px;
margin-right: 8px;
}
.setup-project-from  hr {
margin-top: 50px;
margin-bottom: 50px;
}
.setup-project-from .fileUpload .input-group-text {
border: 1px solid #2081e2;
color: #2081E2;
font-size: 15px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
background-color: #fff;
border-radius: 0px 5px 5px 0px;
height: 38px;
z-index: 1;
position: relative;
cursor: pointer;
}
.setup-project-from .mint-date .input-group-text {
border: 1px solid #2081e2;
color: #2081E2;
font-size: 15px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
background-color: #fff;
border-radius: 0px 5px 5px 0px;
height: 38px;
z-index: 1;
position: relative;
cursor: pointer;
}
form .row {
margin-bottom: 30px;
}
form .row .col-md-6:nth-child(odd) {
padding-right: 30px;
}
form .row .col-md-6:nth-child(even) {
padding-left: 30px;
}
.textarea-text {
color: #868E96;
margin-top: 12px;
font-family: 'Inter', sans-serif;
font-size: 12px;
font-weight: 400;
display: flex;
line-height: normal;
}
.project-whitelist h3 {
text-align: left;
color: #1F1F1F;
font-family: 'Poppins', sans-serif;
font-size: 18px;
margin-bottom: 25px;
}

.project-whitelist i {
color: #BBC8E2;
font-size: 25px;
margin-right: 25px;
}
.project-whitelist-inner-block {
background: #EDF0F5;
padding: 30px;
width: 405px;
min-height: 140px;
border-radius: 15px;
}
.project-whitelist-inner-block .row {
margin-bottom: 11px;
}
.form-footer button i {
margin-right: 16px;
font-size: 20px;
}
.form-footer button {
width: 100%;
margin-top: 56px;
min-height: 62px;
}
.project-whitelist-info {
color: #868E96;
font-size: 12px;
font-family: 'Inter', sans-serif;
margin-top: 13px;
display: flex;
}
.total-whitelist {
max-width: 70px;
max-width: 70px;
text-align: center;
}
.project-whitelist-cal i {
color: #212529;
font-size: 18px;
}
.project-whitelist-cal button {
width: 40px;
height: 40px;
background: #E9ECEF;
border:1px solid #CED4DA;
}
.project-whitelist-cal input {
text-align: center;
}
input.file-upload[type=file]::file-selector-button {
border: 2px solid #6c5ce7;
padding: .2em .4em;
border-radius: .2em;
background-color: #a29bfe;
transition: 1s;
display: none;
}

/* edit-header */
.edit-header  {
max-width: 600px;
margin: 0 auto;
margin-bottom: 45px;
display: flex;
align-items: center;
column-gap: 30px;
}
.edit-header h1 {
text-align: left;
margin-bottom: 0;
}
.edit-header .alert {
min-width: 226px;
margin-bottom: 0;
}
.alert-warning {
color: #212529;
max-width: fit-content;
padding: 0 15px;
min-height: 33px;
display: flex;
align-items: center;
font-size: 16px;
font-family: 'Inter', sans-serif;
}

/* Edit Action */

.edit-action {
background: #2081e2;
min-height:76px;
width: 100%;
position: fixed;
bottom: 0px;
z-index: 11;
display: flex;
align-items: center;
justify-content: center;
}
.edit-action-btn-block .btn {
min-width: 185px;
font-weight: 700;
}
.edit-action-btn-block .btn i {
  margin-right: 14px;
}
.edit-action-btn-block {
display: flex;
column-gap: 20px;
} 


/* create whitelist campaign  */
.create-whitelist-campaign {
margin-top: 70px;
margin-bottom: 140px;
}
.create-whitelist-campaign .container {
max-width: 1097px;
}
.card-title h1 {
color: #1F1F1F;
font-weight: 700;
font-family: 'Poppins', sans-serif;
}
.create-whitelist-campaign .card-title h1 {
text-align: center;
padding-bottom: 35px;
padding-top: 69px;
}
.campaign-step-wizard {
max-width: 963px;
margin: 0 auto;
}
.wizard-form ul {
display: flex;
column-gap: 90px;
justify-content: center;
border-bottom: solid 1px #BBC8E2B3;
}
.wizard-form ul li.active {
 border-bottom: solid 5px #2081E2;
}
.wizard-form ul li.active h3 {
color: #2081E2;
font-weight: 600;
}
.wizard-header {
display: flex;
flex-direction: column;
position: relative;
align-items: center;
}
.complete .wizard-header  i {
display: block !important;
position: absolute;
top: -39px;
width: 24px;
margin: 0 auto;
}
.wizard-header  i {
display: none;
font-size: 24px;
color: #45D386;
margin-bottom: 16px;
display: none;
}
.wizard-header label {
color: #7E8891;
font-size: 13px;
margin-bottom: 9px;
}
.wizard-header h3 {
color: rgb(31 31 31 / 90%);
font-size: 18px;
font-family: 'Poppins', sans-serif;
padding-bottom: 17px;
padding-top: 9px;
}
.campaign-step-wizard .from-group {
 padding-top: 60px;
}
.campaign-step-wizard .from-group-label  {
  padding-bottom: 27px;
}
.wizard-footer {
display: flex;
align-items: center;
justify-content: flex-end;
padding-bottom: 30px;
padding-top: 29px;
}
.wizard-footer button {
min-width: 217px;
}
.wizard-footer button i {
color: #BBC8E2;
opacity: 1;
margin-left: 8px;
}
.from-group-label {
display: flex;
align-items: center;
color: #1F1F1F;
font-size: 18px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
}
.from-group-label i {
color: #BBC8E2;
font-size: 23px;
width: 23px;
margin-right: 23px;
}
.campaign-step-wizard form .row {
  margin-bottom: 0;
}
.campaign-step-wizard form .row .col-7:nth-child(odd) {
padding-right: 21px;
}
.campaign-step-wizard form .row .col-5:nth-child(even) {
padding-left: 21px;
}
.campaign-step-wizard form hr  {
margin-top: 60px;
}
.campaign-step-wizard .notes {
color: #212529;
font-family: 'Inter', sans-serif;
font-size: 14px;
min-height: 38px;
margin-top: 22px;
align-items: center;
}
.campaign-step-wizard .notes strong {
font-weight: 700;
margin-right: 2px;
}
.form-check-input {
min-height: auto;
top: -4px;
position: relative
}
.form-check {
margin-bottom: 15px;
}
.form-check:last-child {
margin-bottom: 0px;
}
.campaign-step-wizard  .project-whitelist-inner-block {
padding: 30px 30px 20px;
}
.campaign-step-wizard .project-whitelist-inner-block .row {
margin-bottom: 11px;
}
.campaign-step-wizard .project-whitelist-inner-block {
width: 100%;
}
.campaign-step-wizard .project-whitelist-inner-block .col-form-label {
padding: 10px 0px;
}
.campaign-step-wizard .project-whitelist-inner-block hr {
background-color: #BBC8E2;
margin-top: 21px;
margin-bottom: 15px
}
.available-info i {
color: #2081E2;
font-size: 18px;
margin-right: 13px;
}
.available-info {
color: #212529;
font-size: 14px;
font-family: 'Inter', sans-serif;
display: flex;
align-items: center;
}
.mints-count-block {
display: flex;
align-items: center;
margin-bottom: 11px;
}
.mints-count-block label {
min-width:130px;
margin-right: 27px;
}
.mint-count {
max-width:140px;
}
.campaign-type .form-check {
border: 1px solid #E3E3E3;
border-radius: 15px;
min-height: 108px;
display: flex;
align-items: center;
padding-left: 30px;
padding-right: 30px;
}
.campaign-type .form-check.active {
  border: 1px solid #0d6efd;
}
.campaign-type .form-check .form-check-input {
margin-left: 0 !important;
margin-right: 15px;
}
.form-check-info h3 {
color: #1F1F1F;
font-size: 18px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
margin-bottom: 8px;
}
.form-check-info  p {
font-size: 13px;
color: #7E8891;
font-family: 'Inter', sans-serif;
}
.form-check-label {
display: flex;
align-items: center;
column-gap: 15px;
}
.mint-date .input-group-text {
border: 1px solid #2081e2;
color: #2081E2;
font-size: 15px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
background-color: #fff;
border-radius: 0px 5px 5px 0px;
height: 38px;
z-index: 1;
position: relative;
cursor: pointer;
}
.date-info {
margin-top: 58px;
}
.users-list-block .form-sort-info {
color: #868E96;
font-size: 12px;
margin-top: 12px;
}
.socialmedia {
margin-left: 30px;
} 
.userProfilesetting {
margin-top: 55px;
}
.usedarkmode-info {
  display: flex;
  flex-direction: column;
}
.usedarkmode-info p {
color: #7E8891;
font-size: 13px;
font-family: 'Inter', sans-serif;
margin-top: 10px;
}
.form-switch label {
top: -3px;
max-width: 332px;
line-height: 22px;
margin-left: 16px;
position: relative;
}
.color-block {
display: flex;
align-items: center;
margin-top: 31px;
}
.color-block .form-label {
margin-bottom: 0px;
margin-right: 26px;
}
.color-block input {
min-width: 38px !important;
height: 38px;
}
.color-block  i {
color: #2081E2;
font-size: 15px;
}
.color-block .input-group-text {
background-color: #fff;
}
.tox .tox-notification--warn, .tox .tox-notification--warning {
display: none !important;
}
.tox .tox-statusbar__text-container {
display: none !important;
}
.tox .tox-statusbar {
border-top: none !important;
}
.tox-tinymce {
border-radius: 4px !important;
}
.text-editor {
margin-top: 45px;
}
.text-editor label {
margin-bottom: 5px;
}
.form-check-info h4 {
color: #212529;
font-family: 'Inter', sans-serif;
margin-bottom: 9px;
font-size: 16px;
font-weight: 400;
}
.form-check-info p {
color: #7E8891;
font-size: 13px;
font-family: 'Inter', sans-serif;
}
.form-check.password {
margin-top: 28px;
}
.form-check .input{
max-width: 410px;
}
.form-check .confirmation {
max-width: 622px;
}
.campaign-step-wizard .form-check-input[type=checkbox] {
border-radius: 3px;
}
.twitter-box { 
background-color:#E1F3FA ;
padding: 27px;
border-radius: 15px;
margin-top: 40px;
max-width: 763px;
}
.twitter-box {
display: flex;
}
.twitter-info {
  margin-top: 5px;
}
.twitter-icon {
margin-right: 20px;
}
.twitter-icon i {
font-size: 28px;
}
.add-collection-block {
background: #EDF0F5;
margin-top: 20px;
padding: 20px 70px 20px 25px;
border-radius: 15px;
position: relative;
}
.add-collection-block:last-child {
margin-bottom: 25px;
}
.collection-trash {
position: absolute;
width: 40px;
height: 40px;
top: 37px;
right: 15px;
cursor: pointer;
}
.add-collection-button {
margin-top: 25px;
}
.add-collection-button i {
color: #BBC8E2;
font-size: 16px;
margin-right: 12px;
}
.twitter-color i {
color: #00ACEE;
}
.discord-color i {
  color: #4F5ECB;
}
.mb3{
margin-bottom: 30px !important;
}
.mb2{
margin-bottom: 20px !important;
}
.wallet-requirements  .from-group-label{
padding-bottom: 35px;
}
.must-follow {
display: flex;
align-items: center;
margin-left: 28px;
margin-top: 17px;
}
.must-follow label {
min-width: 120px;
}
.must-follow input {
max-width: 230px;
}
.server-block {
margin-left: 25px;
}
.server-block hr {
margin-top: 30px !important;
margin-bottom: 30px;
}
.server-inner-block {
display: flex;
margin-top: 25px;
}
.server-inner-block .col {
margin-right: 25px;
flex: inherit;
}
.server-inner-block .col:last-child {
margin-right: 0px;
}
.serverID {
max-width: 122px;
}
.serverdisplay {
max-width: 263px;
}
.stray-Cat {
max-width: 263px;
}
.require-server-role-block {
background: #EDF0F5;
border-radius: 15px;
padding: 20px;
max-width: 700px;
display: flex;
margin-bottom: 20px;
}
.require-server-role-block .roleidlabel {
min-width: 50px;
color: #212529;
font-size: 14px;
margin-bottom: 0;
margin-right: 15px;
}
.require-server-role-block .roledisplaylabel {
min-width: 128px;
color: #212529;
font-size: 14px;
margin-bottom: 0;
margin-right: 15px;
}
.require-server-role-block .form-check {
display: flex;
align-items: center;
margin-bottom: 0px;
}
.require-server-role-block .form-check  .roleid {
max-width: 179px;
}
.require-server-role-block .form-check  .roleDisplay {
max-width: 253px;
}
.form-check-info span {
color: #2081E2;
}
.form-check-info a {
  color: #2081E2;
}
.green-icon i {
 color: #45D386;
}
.setup-btn {
justify-content: center;
}
.setup-btn .button-primery {
min-height: 62px;
width: 100%;
max-width: 600px;
}
.form-switch.form-check-input[type=checkbox] {
border-radius: 50px;
}
.campaign-step-wizard .form-switch .form-check-input[type=checkbox] {
border-radius: 50px;
}
.setup-btn .button-primery i {
  color: #FFFFFF !important;
  margin-right: 17px;
}
.public-info {
  margin-bottom: 60px;
}
.public-info p {
color: #7E8891;
font-size: 13px;
font-family: 'Inter', sans-serif;
}
.public-info a {
color: #2081E2;
font-size: 13px;
margin-top: 8px;
display: flex;
font-family: 'Inter', sans-serif;
}
.profile-image-block {
background: #FFFFFF;
box-shadow: 0px 4px 20px #0000000a;
max-width: 435px;
height: 273px;
border-radius: 10px;
width: 100%;
overflow: hidden;
position: relative;
display: flex;
align-items: center;
flex-direction: column;
}
.profile-image {
background: #E1E7F4 ;
height: 124px;
text-align: center;
width: 100%;
}
.profile-image img{
max-width: 100%;
}
.profile-image i {
color: #BBC8E2;
opacity: 0.5;
font-size: 22px;
margin-top: 22px;
}
.profile-image-icon {
width: 80px;
height: 80px;
border-radius: 100px;
border: 3px solid #FFFFFF;
position: absolute;
top: 90px;
background-color: #e1e7f4;
display: flex;
align-items: center;
justify-content: center;
}
.profile-image-icon i {
color: #BBC8E2;
font-size: 22px;
}
.pink-box {
width: 91px;
height: 23px;
/* background: #FD51A2; */
border-radius: 3px;
margin-top: 17px;
}
.profile-tag-block {
margin-top: 57px;
}
.profile-tag-block .tag-smal {
margin: 4px auto 0;
}
.tag-big {
width: 85px;
height: 8px;
background: #E4EBEF;
display: flex;
}
.tag-smal {
width: 55px;
height: 5px;
background: #E4EBEF;
display: flex;
}
.banner-file-upload {
max-width: 282px;
margin-left: 55px;
}
.banner-file-upload .fileUpload {
margin-bottom: 26px;
}
.banner-file-upload .fileUpload:last-child {
margin-bottom: 33px;
}
.fileUpload .input-group-text {
border: 1px solid #2081e2;
color: #2081E2;
font-size: 15px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
background-color: #fff;
border-radius: 0px 5px 5px 0px;
height: 38px;
z-index: 1;
position: relative;
cursor: pointer;
}
.fileUpload .form-label {
margin-bottom: 10px;
}
.fileUpload .form-label i {
font-size: 20px;
color: #BBC8E2;
min-width: 22px;
margin-right: 8px;
}
.input-group .btn-check:focus+.btn-outline-secondary, .input-group .btn-outline-secondary:focus {
box-shadow: none;
}
.input-group .btn-outline-secondary:hover {
background-color: #E9ECEF;
border-color: #CED4DA;
}
.eth-balance {
max-width: 60px;
text-align: center;
}
.btn-check:focus+.btn, .btn:focus {
outline: 0;
box-shadow: none;
}
.form-check-input:focus {
border-color: #86b7fe;
outline: 0;
box-shadow: none;
}

/* Campaing-edit-campaign*/

.create-campaing-edit-whitelist {
  max-width: 100%;
}
.create-campaing-edit-whitelist .container {
  max-width: 1097px;
}
.create-campaing-edit-whitelist .card-light-grey .edit-header {
  padding-top: 60px;
  max-width: 963px;
  margin: 0px auto;
  padding-bottom: 60px
}
.create-campaing-edit-whitelist .campaign-step-wizard .table-tabs {
  justify-content: center;
}
.create-campaing-edit-whitelist .campaign-step-wizard {
  padding-bottom: 60px;
  margin-bottom: 150px;
}

/*DeleteModal */
.deleteModal.show {
display: flex !important;
align-items: center;
}
.deleteModal .modal-dialog  {
max-width: 524px;
max-height: 329px;
}
.deleteModal .modal-header {
padding: 0px;
border-bottom: none;
}
.deleteModal  .modal-content {
padding: 40px;
border-radius: 20px;
}
.deleteModal .modal-header h5 {
color: #1F1F1F;
font-size:26px;
font-family: 'Poppins', sans-serif;
text-align: center;
font-weight: 700;
margin-bottom: 30px;
}
.deleteModal .modal-footer {
border-top: none;
padding: 0;
display: flex;
justify-content: space-between;
margin-top: 30px;
}
.deleteModal .modal-body {
  padding: 0px;
}
.deleteModal-body p{
color: #212529;
font-size:16px;
text-align: center;
font-family: 'Inter', sans-serif;
line-height: 21px;
margin-bottom: 15px;
}
.deleteModal-body strong {
font-family: 'Inter', sans-serif;
font-size:16px;
color: #212529;
}
.deleteModal .modal-footer button {
  width: 47%;
}
.deleteModal .notes {
color: #7E8891;
font-size: 13px;
}
.deleteModal .notes strong {
color: #7E8891;
}
.deleteModal .modal-footer .btn-outline-danger i {
color: #EB617B;
margin-right: 15px;
}
.setting-dropdown-mint {
position: relative;
}
.setting-dropdown-mint .settingDropdown {
position: absolute;
top: 54px;
right: 0;
}
.settingDropdown {
box-shadow: 0px 3px 30px #00000008;
}

/*unsevedchangesModal */
.unsevedchangesModal.show {
display: flex !important;
align-items: center;
 }
.unsevedchangesModal .modal-dialog  {
max-width: 524px;
max-height: 238px;;
width: 100%;
}
.unsevedchangesModal .modal-header {
padding: 0px;
border-bottom: none;
}
.unsevedchangesModal  .modal-content {
padding: 40px;
border-radius: 20px;
}
.unsevedchangesModal .modal-header h5 {
color: #1F1F1F;
font-size:26px;
font-family: 'Poppins', sans-serif;
text-align: center;
font-weight: 700;
margin-bottom: 24px;
}
.unsevedchangesModal .modal-footer {
border-top: none;
padding: 0;
display: flex;
justify-content: space-between;
margin-top: 38px;
}
.unsevedchangesModal .modal-body {
padding: 0px;
}
.unsevedchangesModal-body p{
color: #212529;
font-size:16px;
text-align: center;
font-family: 'Inter', sans-serif;
line-height: 21px;
margin-bottom: 0;
}
.unsevedchangesModal .modal-footer button {
  width: 46%;
}
.deletRecord {
  padding: 11px 10px;
}

/* responsive   */
@media  screen and (max-width: 1024px) {
.page-header-inner-third {
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.mint-details {
flex-direction: column;
align-items: flex-start;
}
.unsevedchangesModal .modal-footer button {
  width: 100%;
}
.setting-dropdown-mint .settingDropdown {
position: absolute;
top: 59px;
width: 200px;
display: flex;
flex-direction: column;
z-index: 11;
}

.deleteModal .modal-footer {
  justify-content: center;
}
.deleteModal .modal-footer button {
  width: 80%;
}
.create-whitelist-campaign .card-title h1 {
padding: 30px 20px;
}
.campaign-step-wizard .from-group {
padding: 20px;
}
.campaign-step-wizard form .row {
flex-direction: column;
}
.campaign-step-wizard form .col-7 {
width: 100%;
}
.campaign-step-wizard form .col-5 {
width: 100%;
}
.campaign-step-wizard .notes {
display: inherit !important;
}
.campaign-step-wizard form .row .col-5:nth-child(even) {
padding-left: 15px;
}
.campaign-step-wizard form .row .col-7:nth-child(odd) {
padding-right: 15px;
}
.campaign-step-wizard .project-whitelist-inner-block {
margin-top: 20px;
}
.campaign-type {
margin-bottom: 30px;
}
.campaign-type .form-check .form-check-input {
width: 24px;
height: 24px;
min-width: 24px;
}
.profile-image-block {
margin-top: 30px;
}
.twitter-box {
flex-direction: column;
}
.twitter-icon {
margin-right: 20px;
text-align: center;
margin-bottom: 20px;
}

.mints-count-block {
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.complete {
align-items: center;
justify-content: center;
}
.wizard-header {
margin-top: 20px;
align-items: center;
}
.complete .wizard-header i {
right: auto;
}
.wizard-form ul {
flex-direction: column;
}
.wizard-footer {
  padding: 30px 20px 40px;
}
.require-server-role-block {
flex-direction: column;
}
.server-block {
margin-left: 0;
margin-top: 30px;
}
.server-inner-block {
flex-direction: column;
}
.server-inner-block .col {
margin-bottom: 20px;
}
.require-server-role-block .form-check {
margin-bottom: 20px;
}
.public-info a {
display: flex;
width: 100%;
word-break: break-word;
}

}

/* responsive   */
@media screen and (min-width: 768px) and (max-width: 1160px) {
.detail-card {
flex-direction: column;
}
.detail-card .card-logo {
margin-bottom: 20px;
}
.page-header-inner-third {
  padding: 20px;
}
.mint-details .mint-logo {
margin-bottom: 20px;
}
.page-header-inner-third .left-arrow {
 margin-bottom: 20px;
}
.edit-header {
flex-direction: column;
align-items: flex-start;
}
.edit-header h1 {
  margin-bottom: 20px;
}
.create-campaing-edit-whitelist .card-light-grey .edit-header {
  padding: 20px;
}
.create-campaing-edit-whitelist .campaign-step-wizard .table-tabs #nav-tab {
flex-direction: column;
}
.create-campaing-edit-whitelist .campaign-step-wizard .table-tabs button {
margin-right: 0px;
margin-bottom: 20px;
}
.create-campaing-edit-whitelist .campaign-step-wizard .table-tabs button.active {
margin-bottom: 30px;
}
}
@media  screen and (max-width: 767px) {
.setting-dropdown-mint .settingDropdown {
position: absolute;
top: 59px;
width: 200px;
display: flex;
flex-direction: column;
z-index: 11;
left: 0;
}
header .logo {
  justify-content: center;
  padding: 15px 0;
  min-height: 20px;
}
header .code {
justify-content: center;
padding: 15px 0;
min-height: 40px;
}
.detail-card {
flex-direction: column;
}
.left-nav {
margin-bottom: 20px;
}
.right-nav {
justify-content: flex-start;
margin-top: 20px;
}
.status-list ul li {
margin-bottom: 10px;
}
.card-logo {
margin-bottom: 20px;
}
.status-list ul {
flex-wrap: wrap;
justify-content: center;
}
.table-card {
padding: 20px;
}
.entry-and-winner-serach {
flex-direction: column;
}
.wallet-manually a {
width: 100%;
margin-bottom: 20px;
}
.table-tabs {
flex-direction: column;
}
.table-tabs button {
height: 40px;
width: 100%;
margin: 0;
}
.table-tabs button.active::after {
display: none;
}
.table-tabs button.active {
border-bottom: 5px solid #2081E2;
width: 100%;
margin: 0;
margin-bottom: 20px;
}
.entry-and-winner-serach {
padding: 20px;
}
.serach-field input {
min-width: 100%;
}
.serach-field {
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}
.serach-block {
align-items: flex-start;
justify-content: space-between;
}
.serach-icon i {
margin-top: 10px;
}
.serach-field button {
border-radius: 4px;
margin-top: 10px;
width: 100%;
}
.entry-and-winner tbody td {
min-width: 266px;
}
.entry-and-winner tbody td:last-child {
min-width: 66px;
}
.time-slot {
margin-bottom: 20px;
}
.time-and-date-block {
flex-direction: column;
}
.time-and-date .ends-time {
margin-left: 0;
margin-top: 10px;
}

.setup-project-inner-block .card-light-grey {
padding: 30px;
}
form .row .col-md-6:nth-child(odd) {
padding-right: 12px;
margin-bottom: 30px;
}
form .row .col-md-6:nth-child(even) {
padding-left: 12px;
}
.project-whitelist-inner-block { 
width: 100%;
}
.mint-detail-block {
flex-direction: column;
padding: 30px;
}
.mint-logo {
margin-bottom: 30px;
}
.mint-status {
align-items: flex-start;
}
.mint-status-block {
display: flex;
flex-direction: column;
}
.mint-status-block .label{
margin-bottom: 10px;
}
.eidt-project-btn {
justify-content: center;
}
.page-header-inner-third {
  padding: 20px;
}
.mint-details .mint-logo {
margin-bottom: 20px;
}
.page-header-inner-third .left-arrow {
 margin-bottom: 20px;
}
.edit-header {
flex-direction: column;
align-items: flex-start;
}
.edit-header h1 {
  margin-bottom: 20px;
}
.create-campaing-edit-whitelist .card-light-grey .edit-header {
  padding: 20px;
}
}
@media  (max-width: 664px) { 
.edit-action {
  padding: 20px 10px 10px;
}
.edit-action-btn-block {
  flex-direction: column;
}
.edit-action-btn-block .btn{
  margin-bottom: 10px;
  min-width: 260px;
}
}
@media (min-width: 768px) and (max-width: 1000px) { 
.serach-field input {
min-width: max-content;
}
.entry-and-winner tbody td {
min-width: 266px;
}
.entry-and-winner tbody td:last-child {
min-width: 66px;
}
}




